/* Gallery layout */
.gallery {
    display: grid; /* Use grid layout instead of flex for the gallery */
    margin-top: 20px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
}

.gallery__cards {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns layout */
    grid-gap: 20px 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/* Mobile view - 425px or less */
@media (max-width: 425px) {
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the profile section */
        margin-top: 40px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the gallery in column layout */
        margin-top: 40px;
    }
}

/* Tablet view - 900px or less */
@media (max-width: 900px) {
    .gallery__cards {
        grid-template-columns: repeat(2, 1fr); /* 2 columns layout */
    }
}

/* Mobile view - 620px or less */
@media (max-width: 620px){
    .gallery__cards {
        grid-template-columns: 1fr; /* 1 column layout */
    }
}
