/* 
Changed border opacity
Changed to min-height
*/
.header {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-bottom: 1px rgba(84, 84, 84, 0.7) solid;;
    max-width: 880px;
    min-height: 74px; 
}

.header__logo {
    width: 173px;
    height: 33px;
}

.header__content {
    display: flex;
    margin-top: 20px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 775px) {
    .header {
        width: 100%; 
    }
}

