.page{
    background-color: black;
    color: #ffffff;
    width: 100%;
    
}

@media (max-width: 775px){
    .page{
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 775px) and (max-width: 1280px){
    .page{
        margin: 0;
        padding: 0;
    }
}



